$primary:#409EFF;
$primary-light:#ecf5ff;
$success:#67C23A;
$success-light:#f0f9eb;
$warning:#E6A23C;
$warning-light:#fdf6ec;
$danger:#F56C6C;
$danger-light:#fef0f0;
$info:#909399;
$info-light:#f4f4f5;
$text:#303133;
$text-light:#82868f;
$boder: #f0f0f0;
$white:#ffffff;
$text-color:#505050;
$border-color:#d4d3d3;
$shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);